<p><%= link_to  'Voltar', categories_path %></p>

<h3>Categoria: <%= @category.name %></h3>
<p>Código: <%= @category.code %></p>

<p>
  <%= link_to 'Editar categoria', edit_category_path(@category) %> | 
  <%= link_to 'Apagar categoria', @category, method: :delete %>
</p>
