<p><%= link_to  'Voltar', promotions_path %></p>

<% @promotion.errors.any? do %>
  <% @promotion.errors.full_messages.each do |message| %>
  <p><%= message %></p>
  <% end %>
<% end %>

<%= form_with model: @promotion, local: true do |form| %>
  <p>
    <%= form.label :name, 'Nome'  %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description, 'Descrição' %>
    <%= form.text_field :description %>
  </p>

  <p>
    <%= form.label :code, 'Código' %>
    <%= form.text_field :code %>
  </p>

  <p>
    <%= form.label :discount_rate, 'Desconto' %>
    <%= form.number_field :discount_rate %>
  </p>

  <p>
    <%= form.label :coupon_quantity, 'Quantidade de cupons' %>
    <%= form.number_field :coupon_quantity %>
  </p>

  <p>
    <%= form.label :expiration_date, 'Data de término' %>
    <%= form.date_field :expiration_date %>
  </p>

  <%= form.submit %>
<% end %>
