<p><%= link_to  'Voltar', root_path %></p>

<h2><%= link_to 'Registrar uma promoção', new_promotion_path %></h2>

<% if @promotions.empty? %> 
  <p>Nenhuma promoção cadastrada</p>  
<% end %>

<hr>
<% @promotions.each do |promotion|%>
  <h3>Promoção: <%= link_to promotion.name, promotion %></h3>
  <p>Descrição: <%= promotion.description %></p>
  <p>Código: <%= promotion.code %></p>
  <p>Desconto: <%= number_to_percentage promotion.discount_rate, precision: 2, separator: ',' %></p>
  <p>Quantidade de cupons: <%= promotion.coupon_quantity %></p>
  <p>Data de expiração: <%= promotion.expiration_date.strftime('%d/%m/%Y') %></p>

  <p>
    <%= link_to 'Editar promoção', edit_promotion_path(promotion) %> | 
    <%= link_to 'Apagar promoção', promotion, method: :delete %>
  </p>

  <hr>
<% end %>
