<p><%= link_to  'Voltar', promotions_path %></p>

<h3>Promoção: <%= @promotion.name %></h3>
<p>Criada por: <%= @promotion.admin.email %></p>
<p>Descrição: <%= @promotion.description %></p>
<p>Código: <%= @promotion.code %></p>
<p>Desconto: <%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ',' %></p>
<p>Data de expiração: <%= @promotion.expiration_date.strftime('%d/%m/%Y') %></p>
<p>Quantidade de cupons: <%= @promotion.coupon_quantity %></p>
<p>
  <%= link_to 'Editar promoção', edit_promotion_path(@promotion) %> | 
  <%= link_to 'Apagar promoção', @promotion, method: :delete %>
</p>

<p>
  <% if @promotion.approved? %>
    <p><%= t :status %><p>
  <% end %>
</p>

<p>
  <% unless current_admin == @promotion.admin %>
    <%= link_to 'Aprovar promoção', approve_promotion_path, method: :post %>
  <% end %>
</p>

<p>
  <% unless @promotion.coupons.any? %>
    <%= link_to 'Gerar cupons', creates_coupons_promotion_path, method: :post %>
  <% end %>
</p>
<hr>

<% if flash[:notice].present? %>
  <p><%= flash[:notice] %></p>
<% end %>

<h3>Cupons</h3>
<% @promotion.coupons.each do |coupon| %>
  <div id="coupon-<%= coupon.id %>">
    <p><%= coupon.code %>(<%= t(coupon.status) %>)</p>
    <% if coupon.active? %>
      <%= link_to 'Inativar', inactivate_coupon_path(coupon), method: :post %>
    <% end %>
  </div>
<% end %>
